<section>
  <div class="sunrise-intro">

    <object class="drop-shadow logo-property css-delay" type="image/svg+xml" data="img/logo/logo-F1.svg" width="550" height="200">Your browser does not support SVG</object>
<a href="#/intro">
     <button>开始</button></a>
  </div>

  <video autoplay="" loop="" poster="img/DJI_0028.JPG" id="bgvid">
      <source src="source/start_vid_small.mp4" type="video/mp4">
  </video>
  <audio id="audio0">
                    <!--                add back autoplay!-->
                    <source src="media/scene1/audio/0.ogg" type="audio/ogg">
  </audio>
</section>
