 
    @max_width: none;   
    @gutter: 20px;      

    @wp_1: 0px;
    @wp_2: 0px;
    @wp_3: 0px;

    @import "defaults.less";
@import "ionic-header-footer-css.less";
@import "uib-card.less";
@import "uib-card.less";
@import "uib-card.less";
@import "uib-card.less";
@import "card_grid.less";
@import "styles/flex-basis-2 -- flex-basis.less";
@import "styles/section-dimension-3 -- card.less";
@import "styles/section-dimension-4 -- card.less";
@import "styles/section-dimension-5 -- card.less";
@import "styles/section-dimension-6 -- card.less";
@import "styles/d-margins -- margins.less";
@import "styles/flex-basis-6 -- flex-basis.less";
@import "styles/section-dimension-7 -- card.less";
@import "styles/section-dimension-8 -- card.less";
@import "styles/section-dimension-9 -- card.less";
@import "styles/section-dimension-10 -- card.less";
@import "styles/flex-basis-10 -- flex-basis.less";
@import "styles/section-dimension-11 -- card.less";
@import "styles/section-dimension-12 -- card.less";
@import "styles/section-dimension-13 -- card.less";
@import "styles/section-dimension-14 -- card.less";
@import "styles/flex-basis-14 -- flex-basis.less";
@import "styles/section-dimension-15 -- card.less";
@import "styles/section-dimension-16 -- card.less";
@import "styles/section-dimension-17 -- card.less";
@import "styles/section-dimension-18 -- card.less";
@import "styles/flex-basis-19 -- flex-basis.less";
@import "styles/section-dimension-20 -- card.less";
@import "styles/section-dimension-21 -- card.less";
@import "styles/section-dimension-22 -- card.less";
@import "styles/section-dimension-23 -- card.less";
@import "styles/flex-basis-23 -- flex-basis.less";
@import "styles/section-dimension-24 -- card.less";
@import "styles/section-dimension-25 -- card.less";
@import "styles/section-dimension-26 -- card.less";
@import "styles/section-dimension-27 -- card.less";
@import "receptacle-alignment.less";
@import "ionic_full_width.less";
@import "styles/start_button_icon -- text.less";
@import "ionic-group.less";