//variables
$color-red: #A10B00;
$color-orange: #FF8500;
$color-yellow: #F2B626;
$color-blue: #7CD0FF;
$color-black: #050505;
$color-paper: #DED8D4;
$color-grey:#606060;

html {
  background-color: $color-paper;
}

body {
  height:100vh;
  max-height: 100vh;
  overflow-y: hidden;
  overflow-x:scroll;
  @extend .fadein;
}

body::after {
  background: url("../../img/layout/slide-bg.png");
  content: "";
  opacity: 0.4;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

a {
  text-decoration: none;
}

.hori-scroll {
display: inline-block;
}

.black-bg{
     background-color: rgba(0, 0, 0, .4);
}

// .active {
//   background-color: $color-orange;
// }

/* FONT PATH
 * -------------------------- */
 // @font-face {
 //     font-family: 'contentFont';
 //     src: local('contentFont.otf'),
 //           url('../../source/font/contentFont.otf');
 //     src: local('contentFont.ttf'),
 //     url('../../source/font/contentFont.ttf') format('truetype'); /* Safari, Android, iOS */
    //  url('/css/fonts/IranSans.woff') format('woff'), /* Modern Browsers */
    //  url('/css/fonts/IranSans.svg') format('svg'); /* Legacy iOS */
 // }
 @font-face {
    font-family: 'titleFont';
    src: local('yuweif.woff'),
    url('../../source/font/yuweif.woff');
}
@font-face {
  font-family: 'HanWangWCL06';
  src: local('HanWangWCL06.woff'),
  url('../../source/font/HanWangWCL06.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: 'fontAwesome';
   src: local('fontAwesome.otf'),
   url('../../source/font/fontAwesome.otf');
}

h1, h2 {
  font-family: 'titleFont', Helvetica, Arial, sans-serif;
}

p{
  font-family:'Arial',Helvetica;
}

h3, h4, h5 {
  font-size: 1.5em;
}
/* all chapters introduction page */

.sunrise-intro {
  top: 50%;
  left: 24%;
  width: auto;
  height: auto;
  max-width: 35%;
  min-height: 50%;
  text-align:center;
   line-height: 2.0em;
   position: fixed;
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
}

button, btn {
  border: solid 1px $color-yellow;
    padding: 5px;
    min-height:50px;
    min-width:90px;
    border-radius: 1px; // support: IE9+ ;)
    background-clip: content-box; // support: IE9+
    background-color:$color-yellow;
    line-height: 1;
    font-size: 20px;
    color:$color-black;
    text-indent: 0.5rem;
    text-decoration: none;
}

.intro-text {
  padding:30px 30px 0 30px;
  max-width: 600px;
  color:white;
}

.logo {
  background: url(img/logo/logos-04.svg) no-repeat top left;
  background-size: contain;
  width:300px;
  height:150px;
}

 .logo-property{
   width:550px;
   height:230px;
   max-width: 670px;
    -webkit-filter: drop-shadow(10px 10px 10px #222);
    filter:         drop-shadow(10px 10px 10px #222);
}

.no-svg .main-header {
  background-image: url(img/logo/logos-04.svg.png);
}

.scene-title {
  width: 200px;
  min-width: 100px;
  height:100vh;
  display: inline-block;
  position: absolute;
}

.scene-title-box {
  margin: auto auto auto auto;
  padding-top:5px;
  color:$color-paper;
  background-color: $color-red;
  opacity:0.8;
  top: 50%;
  left: 24%;
  width: auto;
  height: auto;
  max-width: 55%;
  min-height: 100%;
  text-align:center;
}

.scene-title-lgword{
    letter-spacing: 16px;
    font-size: 2.5em;
    top: 50%;
    text-align:center;
}

.background-mvc{
  opacity: 0.3;
  width: 45px;
  padding-left:20px;
  position:absolute;

  left:100px;
}
